<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.t2009m1_helloworld.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>com.example.t2009m1_helloworld.controller.CreateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.example.t2009m1_helloworld.controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>com.example.t2009m1_helloworld.controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>com.example.t2009m1_helloworld.controller.ListProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <jsp-file>/Admin/views/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddSession</servlet-name>
        <servlet-class>com.example.t2009m1_helloworld.controller.ssdemo.AddSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSession</servlet-name>
        <url-pattern>/session/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetAddSession</servlet-name>
        <servlet-class>com.example.t2009m1_helloworld.controller.ssdemo.GetSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAddSession</servlet-name>
        <url-pattern>getsession</url-pattern>
    </servlet-mapping>


</web-app>
